.main {
	background-color: var(--foreground);
}

@media (min-width: 992px) {
	.main {
		border-color: var(--gray-2);
		border-style: solid;
		border-radius: 0 0 0.5rem 0.5rem;
		border-width: 0 var(--thin) var(--thin) var(--thin);
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		width: 768px;
	}
}

@media (min-width: 1200px) {
	.main {
		width: 992px;
	}
}
